* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  color: white;
}
header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #3a0ca3;
  padding: 1rem;
}

header nav {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

main {
  display: grid;
  background-color: #560bad;
  position: relative;
}
.timer {
  position: absolute;
  right: 2rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
}
.joker-section {
  justify-self: center;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 1rem;
}
.joker-btn {
  padding: 1rem;
  color: white;
  background: #4631ee;
  cursor: pointer;
}
.joker-btn.used {
  background: #4731ee70;
  cursor: not-allowed;
}
.game-main {
  display: grid;
  place-content: center;
  gap: 2rem;
}
.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-items: center;
}
.question h2 {
  text-align: center;
  font-size: 1.5rem;
}
.answer {
  width: 17.5rem;
  height: 6rem;
  border-radius: 1rem;
  background: #4631ee;
  color: white;
  border: none;
  font-size: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
}

.answer:hover {
  background: white;
  color: #4631ee;
}

.answer.wrong {
  background: red;
  cursor: not-allowed;
}
.answer.right {
  background: green;
  cursor: not-allowed;
}
.game-button {
  justify-self: center;
  padding: 1rem;
  font-size: 1.5rem;
  background: #f72585;
  color: white;
  border-radius: 1rem;
  border: none;
}
.menu-main {
  padding: 2rem;
  grid-template-rows: auto 1fr 100px;
  justify-items: center;
}

.modal.stats h2 {
  text-align: center;
}

.modal.stats {
  place-content: center;
  gap: 2rem;
}
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.category {
  padding: 1rem;
  background-color: #4361ee;
  color: white;
  border-radius: 1rem;
  border: 2px solid white;
  font-size: 1.4rem;
}
.category.active {
  background-color: #06d6a0;
}

.start-btn {
  padding: 0 2rem;
  background: #f72585;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
}
.sign-in,
.sign-up {
  display: grid;
  place-content: center;
  gap: 1.5rem;
}
.play-as-guest {
  display: grid;
  place-content: center;
  gap: 0.5rem;
}
.play-as-guest h2 {
  text-align: center;
}
.sign-in form,
.sign-up form {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.sign-in-label,
.sign-up-label,
.sign-in-input,
.sign-up-input {
  font-size: 2rem;
  padding: 0.3rem;
}

.sign-in h2,
.sign-up h2 {
  text-align: center;
  font-size: 2rem;
}

.cta {
  font-size: 1.5rem;
  padding: 0.7rem 1.3rem;
  background-color: #4361ee;
  color: white;
  border: none;
  border-radius: 2rem;
}
/* Modal */
.modal-wrapper {
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(2px);
}

.modal {
  display: grid;
  justify-items: center;
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem;
  background: none;
  border: none;
}

.ok-button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #4361ee;
  color: white;
  border: none;
  border-radius: 2rem;
}
